<?xml version="1.0" encoding="iso-8859-1"?>
<demolauncher>
  <demos>
    <example filename="embeddedsvgviewer" name="SVG Viewer" image="screenshots/embeddedsvgviewer.png" args="shapes.svg"/>
    <example filename="styledemo" name="Stylesheets" image="screenshots/styledemo.png"/>
    <example filename="deform" name="Vector Deformation" image="screenshots/deform.png" args="-small-screen"/>
    <example filename="pathstroke" name="Path Stroking" image="screenshots/pathstroke.png" args="-small-screen"/>
    <example filename="wiggly" name="Wiggly Text" image="screenshots/wiggly.png"/>
  </demos>
  <slideshow timeout="60000" interval="10000">
    <imagedir dir="slides"/>
  </slideshow>
</demolauncher>
